Repository wncc/instiapp-api, pull requests merged in 2018-08, with the labels that each got.

#189 Reduce body following bonus
  events/prioritizer.py
Labels: sec: prioritizer

#191 Implement Former Role (fix #145)
  login/tests.py
  roles/serializers.py
  roles/tests.py
  roles/views.py
  users/migrations/0022_userprofile_former_roles.py
  users/models.py
  users/serializer_full.py
Labels: model: Role, sec: role, type: feature

#192 Add period to end of table header
  placements/management/commands/placement_blog_chore.py
Labels: sec: blog, type: bug/fix

#193 Add blank characters to all PT blog table cells
  placements/management/commands/placement_blog_chore.py
Labels: sec: blog, type: bug/fix

#194 Fix blank rows in markdown table
  placements/management/commands/placement_blog_chore.py
Labels: type: bug/fix

#195 Change order of processing md table
  placements/management/commands/placement_blog_chore.py
Labels: sec: blog, type: bug/fix

#197 Strip newlines within columns
  helpers/misc.py
Labels: type: bug/fix

#198 Notify followers on PT blog post
  backend/settings_base.py
  placements/management/commands/placement_blog_chore.py
Labels: type: feature

#205 #204
  other/management/commands/push-notify.py
  other/tests.py
  other/views.py
  requirements.txt
Labels: priority3: urgent, sec: notifications, type: bug/fix, type: performance
