Repository wncc/instiapp-api, pull requests merged in 2018-10, with the labels that each got.

#258 Add canonical name to Body model
  bodies/migrations/0023_body_canonical_name.py
  bodies/models.py
  bodies/tests.py
Labels: model: Body, sec: API, sec: routing, type: feature

#259 Add UserTag
  events/migrations/0027_event_user_tags.py
  events/models.py
  events/prioritizer.py
  events/tests.py
  helpers/test_helpers.py
  users/admin.py
  users/migrations/0025_auto_20181003_1429.py
  users/models.py
  users/tests.py
Labels: WIP, model: Event, model: UserProfile, type: feature

#260 Allow nulls on secondary_target in UserTag
  users/migrations/0026_auto_20181003_1442.py
  users/models.py
Labels: severity3: broken, type: bug/fix

#261 Fix broken events API for anonymous user
  events/prioritizer.py
  events/tests.py
  users/models.py
Labels: priority3: urgent, sec: prioritizer, severity5: regression, type: bug/fix

#263 Eagerly load user_tags in event serializer
  events/serializers.py
Labels: type: performance

#266 Use canonical name in breadcrumb (fix #265)
  prerender/views.py
Labels: sec: prerender

#267 Cast regex match attribute to string explicitly
  users/models.py
Labels: priority3: urgent, severity3: broken, type: bug/fix

#268 Fix event updated notification after event starting
  other/management/commands/notify-event-starting.py
Labels: sec: FCM, sec: chores, severity2: inconvenient, type: bug/fix

#272 Make resize_convert @staticmethod (fix #271)
  upload/models.py
Labels: effort0: trivial, type: refactor

#275 Changed the working of UpVotes
  venter/tests.py
  venter/urls.py
  venter/views.py
Labels: sec: venter, type: feature

#277 Implement Penalty For Far Off Events
  events/prioritizer.py
  events/tests.py
Labels: sec: prioritizer, type: feature

#279 Fix pylint false positives
  .circleci/config.yml
  .pylintrc
  .pylintrc.lax
  README.md
  bodies/views.py
  events/serializers.py
  events/tests.py
  events/views.py
  locations/views.py
  login/helpers.py
  login/test_server.py
  messmenu/management/commands/mess_chore.py
  news/management/commands/news_chore.py
  other/management/commands/notify-event-starting.py
  other/management/commands/push-notify.py
  other/notifications.py
  placements/management/commands/placement_blog_chore.py
  prerender/views.py
  roles/serializers.py
  roles/views.py
  upload/models.py
  upload/views.py
  users/views.py
Labels: type: refactor

#281 Fix settings user object names for new users
  login/helpers.py
  login/tests.py
Labels: sec: SSO, severity3: broken, type: bug/fix

#282 Check if contacts are present before getting details
  login/helpers.py
Labels: priority3: urgent, sec: SSO, severity3: broken, type: bug/fix

#284 Add tags and description search for complaints (solution for issue #283)
  venter/tests.py
  venter/urls.py
  venter/views.py
Labels: sec: filtering, sec: venter, type: feature

#285 Fix broken event order due to uneven time penalty
  events/prioritizer.py
Labels: sec: prioritizer, severity5: regression, type: bug/fix

#288 Add promotion_boost to models and prioritizer
  events/migrations/0028_event_promotion_boost.py
  events/models.py
  events/prioritizer.py
  events/tests.py
Labels: model: Event, sec: promotion, type: feature

#290 fix(venter): make user profile fields read only in admin (fix #289)
  venter/admin.py
Labels: flag: breaking change, type: bug/fix, type: performance
