Repository wncc/instiapp-api, pull requests merged in 2018-09, with the labels that each got.

#208 Use nanotiming instead of random to get username in tests
  login/tests.py
Labels: sec: testing, type: bug/fix

#210 Refactor setting created_by in event creation
  events/serializers.py
Labels: model: Event, type: refactor

#211 Nss complaint
  backend/settings_base.py
  backend/urls.py
  venter/__init__.py
  venter/admin.py
  venter/apps.py
  venter/migrations/0001_initial.py
  venter/migrations/0002_auto_20180917_1648.py
  venter/migrations/__init__.py
  venter/models.py
  venter/serializers.py
  venter/tests.py
  venter/urls.py
  venter/views.py
Labels: type: feature

#213 Add vote up APIs and filtering of the complaints based on status
  venter/migrations/0003_auto_20180920_1625.py
  venter/models.py
  venter/serializers.py
  venter/tests.py
  venter/urls.py
  venter/views.py
Labels: sec: venter, type: feature

#218 Add microdata to prerenders
  prerender/templates/body-details.html
  prerender/templates/event-details.html
  prerender/templates/event_date_venue.html
  prerender/templates/explore.html
  prerender/templates/news.html
  prerender/templates/root.html
Labels: sec: prerender, type: feature

#220 Add jobTitle to role in org prerender
  prerender/templates/body-details.html
Labels: sec: prerender, severity2: inconvenient, type: bug/fix

#221 Fix prerender on mobile
  backend/settings_base.py
  prerender/templates/body-details.html
  prerender/templates/event-details.html
  requirements.txt
Labels: sec: prerender, severity3: broken, type: bug/fix

#224 Add dynamic sitemap
  backend/settings_base.py
  backend/sitemap.py
  backend/urls.py
  bodies/migrations/0021_auto_20180925_2139.py
  bodies/migrations/0022_auto_20180925_2228.py
  bodies/models.py
  events/migrations/0024_event_time_of_modification.py
  events/models.py
  other/tests.py
Labels: effort3: high, sec: prerender, type: feature

#228 Exclude root node in breadcrumb
  prerender/views.py
Labels: sec: prerender, severity1: confusing, type: bug/fix

#229 Fix test for excluding root node from breadcrumb
  prerender/tests.py
Labels: priority2: important, sec: prerender, sec: testing

#232 Add body to children in recursive function only once (fix #201)
  roles/serializers.py
Labels: effort0: trivial, priority2: important, sec: role, severity2: inconvenient, type: bug/fix

#233 Remove full postal address for reusable locations
  prerender/templates/venue-meta.html
Labels: sec: prerender, severity3: broken, type: bug/fix

#234 Refactor get_r_fresh ..., show events from the past year in body
  bodies/serializers.py
  events/prioritizer.py
  roles/serializers.py
  users/serializer_full.py
Labels: sec: prioritizer, type: refactor

#235 Add multi level directory structure to upload API
  upload/models.py
  upload/serializers.py
Labels: priority2: important, type: performance

#238 Sort events by start_time descending in prioritizer (fix #237)
  events/prioritizer.py
Labels: sec: prioritizer, severity3: broken, type: bug/fix

#240 Fix data in FCM notifications
  other/management/commands/push-notify.py
Labels: priority2: important, sec: FCM, severity5: regression, type: bug/fix

#241 Refactor FCM data message
  other/management/commands/push-notify.py
Labels: sec: FCM, type: refactor

#242 Include notification id in FCM notification data
  other/management/commands/push-notify.py
Labels: sec: FCM, sec: notifications

#245 Add android_version to UserProfile model
  users/migrations/0023_userprofile_android_version.py
  users/models.py
  users/serializer_full.py
Labels: model: UserProfile, sec: FCM, sec: notifications

#247 Notify for event about to start with chore
  events/migrations/0025_event_starting_notified.py
  events/models.py
  other/management/commands/notify-event-starting.py
Labels: model: Event, sec: FCM, sec: chores

#248 Improve notification chore logging
  other/management/commands/notify-event-starting.py
  other/management/commands/push-notify.py
Labels: sec: chores, severity1: confusing, type: bug/fix

#249 Add large_content to news notifications
  other/management/commands/push-notify.py
Labels: sec: FCM, sec: notifications

#250 Explicitly specify parser for bs4
  other/management/commands/push-notify.py
Labels: sec: FCM, type: bug/fix

#251 Pass youtube video thumbnail in news notification
  other/management/commands/push-notify.py
Labels: sec: FCM

#252 Refactor notification chore for performance
  other/management/commands/push-notify.py
Labels: priority3: urgent, sec: FCM, sec: notifications, severity4 memleak, type: performance, type: refactor

#253 Add API to get locations excluding group
  locations/tests.py
  locations/views.py
Labels: type: performance
