Repository wncc/instiapp-api, pull requests merged in 2018-06, with the labels that each got.

#128 Implement User reactions on News feed (issue #102)
  backend/urls.py
  news/migrations/0004_usernewsreaction.py
  news/migrations/0005_newsentry_reacted_by.py
  news/models.py
  news/serializers.py
  users/tests.py
  users/views.py
Labels: sec: news-feed, type: feature

#130 Add user_reaction to reactions API
  news/serializers.py
  news/tests.py
  news/views.py
  users/tests.py
Labels: sec: news-feed, type: feature

#131 Change staging base URL to insti.app
  backend/settings_staging.py
Labels: type: bug/fix

#142 Add more prerender pages
  .gitignore
  backend/settings_base.py
  backend/urls.py
  bodies/tests.py
  events/tests.py
  locations/tests.py
  news/tests.py
  placements/tests.py
  prerender/templates/body-details.html
  prerender/templates/event-details.html
  prerender/templates/explore.html
  prerender/templates/links.html
  prerender/templates/news.html
  prerender/templates/root.html
  prerender/templates/user-details.html
  prerender/tests.py
  prerender/views.py
  roles/tests.py
  users/tests.py
Labels: sec: prerender

#150 Sane follow
  backend/urls.py
  bodies/tests.py
  bodies/views.py
Labels: model: Body, priority3: urgent

#153 Remove dangerous and deprecated APIs
  backend/urls.py
  prerender/tests.py
Labels: flag: breaking change, priority3: urgent, sec: API, severity6: security

#158 Refactor get_reactions_count for performance
  news/serializers.py
Labels: priority3: urgent, sec: news-feed, type: performance, type: refactor

#159 Fix 500 when user un-reacts to news
  news/serializers.py
  news/tests.py
Labels: priority3: urgent, sec: news-feed, severity3: broken, type: bug/fix
