Repository wncc/instiapp-api, pull requests merged in 2019-03, with the labels that each got.

#384 chore: Update dependencies
  .pylintrc
  requirements.txt
Labels: type: chore

#383 Add flag official_post in BodyRole
  roles/migrations/0009_bodyrole_official_post.py
  roles/models.py
  roles/serializers.py
  roles/tests.py
Labels: model: Role, priority3: urgent, sec: role, type: feature

#385 feat(role): Add permanent field to BodyRole (#381)
  roles/migrations/0010_bodyrole_permanent.py
  roles/models.py
Labels: model: Role, sec: role, type: feature

#386 feat(users): Add through field to former_roles (fix #380)
  roles/serializers.py
  roles/tests.py
  users/admin.py
  users/migrations/0032_auto_20190329_1914.py
  users/models.py
  users/serializer_full.py
Labels: model: UserProfile, sec: role, type: feature

#387 feat(roles): Add chore to convert roles to former roles
  roles/management/commands/reset-all-roles.py
Labels: sec: chores, sec: role, type: feature
